body {
    font-family: Arial, sans-serif;
    background-color: #8bdce7;
    margin: 0;
    padding: 0;
    text-align: center;
}
.game-container {
    max-width: 420px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: block;
    margin: 10px auto;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 80px;
    height: 80px;
    margin: 6px;
    background: rgb(205, 230, 240);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.tile-2 {background-color: #e3f2fd;}
.tile-4 {background-color: #bbdefb;}
.tile-8 {background-color: #90caf9;}
.tile-16 {background-color: #64b5f6;}
.tile-32 {background-color: #42a5f5;}
.tile-64 {background-color: #2196f3;}
.tile-128 {background-color: #1e88e5;}
.tile-256 {background-color: #1976d2;}
.tile-512 {background-color: #1565c0;}
.tile-1024 {background-color: #0d47a1;}
.tile-2048 {background-color: #082567;}